<h1>Conduit Roster</h1>
<p>
  Welcome to the Conduit Roster. Below is a list of our authors along with their stats. You can click on a username to view their profile.
</p>
<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Total Articles</th>
      <th>Total Favorites</th>
      <th>First Article Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of roster">
      <td><a [routerLink]="['/profile', user.username]">{{ user.username }}</a></td>
      <td>{{ user.totalArticles }}</td>
      <td>{{ user.totalFavorites }}</td>
      <td>{{ user.firstArticleDate | date }}</td>
    </tr>
  </tbody>
</table>